services:
  - type: web
    name: sol-telegram-arb
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: CHAT_ID
        sync: false
      - key: RPC
        value: https://mainnet.helius-rpc.com/?api-key=YOUR_FREE_KEY
